#root {
  width: 100%;
  height: 100%;
}

.example::-webkit-scrollbar {
   background: black;
   color: black
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  scrollbar-width: 2px;  /* Firefox */
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar {
  width: 2px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.recharts-wrapper{
  width: auto !important;
}

.recharts-legend-wrapper{
  margin: auto;
  display: block;
  width: fit-content !important;
  position: relative !important;
  text-align: center;
  bottom: 1rem !important;
}
.recharts-legend-wrapper ul{
  display: flex;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
